{% extends "base.html" %}

{% block content %}
  <div class="h1 my-5 w-50 text-center mx-auto text-light font-weight-light">
      About us
    </div>
      <div class="w-50 mx-auto text-light font-weight-light">
      <p>We are a group of master data craftsmen who love to solve problems that bring about real value.  All of our consultants have PhDs in a STEM field and are passionate about quality and integrity.  Our aim is always to bring you value that will be felt across your company and for years to come.</p>

      <p> We believe most companies, and data teams, are getting less value from their data because of poor data strategies.  We want to unlock the analytic and decision making power of your data by making it highly performant and reliable.</p>

      <p> See how we have helped companies in the past [link to previous work page] and always feel free to get in touch with us by sending an email to hello@texnidata.com.
      </p>
    </div>
{% endblock content %}

