{% extends "base.html" %}

{% block content %}
  <div id="wrapper" class="mx-auto w-75">
    <div class="h4 w-100 text-center text-light font-weight-light">
      About us
    </div>
    <div class="text-light font-weight-light">
      <p>We are very talented.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum erat lorem, ut sodales dui porttitor vitae. Donec eu felis sed justo ullamcorper egestas. Aenean leo sem, hendrerit fringilla hendrerit id, aliquet quis tellus. Donec ut massa placerat, venenatis risus vitae, iaculis mi. Sed pulvinar finibus semper. Quisque vulputate elit fringilla dolor varius pulvinar. Quisque et pretium enim, at aliquet quam. Fusce convallis pretium mi, vitae vestibulum felis sollicitudin ac. Aenean euismod felis vel purus blandit congue. Ut venenatis lorem lacus, id varius neque aliquam id. Quisque convallis et arcu sit amet mollis. Nullam eleifend diam vitae odio ornare, ac tincidunt lacus lobortis. Duis dignissim odio sed nisi lacinia lobortis. Ut id dui molestie, imperdiet purus sed, tempus leo. Cras enim ante, porta vitae egestas vitae, suscipit et nunc. Pellentesque placerat eget dolor eget dictum.

      </p>
      <p>
        Donec aliquet faucibus enim quis venenatis. Duis convallis nunc sed semper vestibulum. Nam consectetur mattis fermentum. Phasellus pellentesque, mi at commodo molestie, dui augue luctus justo, quis faucibus felis nisi at eros. Nunc tempus nunc ac est tempor, non facilisis libero facilisis. Ut auctor tellus sit amet massa lacinia, et eleifend libero gravida. Nulla diam tellus, maximus in sapien et, convallis luctus ante. Maecenas malesuada nisl eu velit imperdiet dapibus. Duis egestas est nec justo fringilla commodo. Duis lacus diam, sollicitudin sed arcu id, egestas aliquam metus. In sed nisl vestibulum, consectetur nunc et, euismod risus. Mauris molestie pulvinar ex, id accumsan est molestie id.
      </p>
    </div>
  </div>
{% endblock content %}

