{% extends "base.html" %}

{% block content %}
  <div class="h1 my-5 w-50 text-center mx-auto text-light font-weight-light">
    Texni Data
  </div>
      <div class="w-50 mx-auto text-light font-weight-light">
        <p>At Texni Data our focus is on making your data a competitive advantage. </p>
        <p> We focus on a wholistic solution to your data needs; first we learn from you what business needs you have, then we help you understand how data can play a role in solving your business problems. </p>
        <p>Next we develop, with you, a data strategy that will unlock the power of your data for years to come.   Lastly, we can bring expert machine learning and analytics to turn your data into actions.</p>
    <p> Your data should be a competitive advantage; we have the skills and tools to help you get the most out of your data.</p>
  </div>
{% endblock content %}


