{% extends "base.html" %}

{% block content %}
  <div class="h1 my-5 w-50 text-center mx-auto text-light font-weight-light">
    Team
  </div>
      <div class="w-50 mx-auto text-light font-weight-light">
        <p>We need new team members!</p>
        <p>We are looking for highly skilled and qualified data masters.  We need data scientist and engineers who love data quality and driving value for businesses.  If you think you have what it takes and would enjoy working with us reach out to us at <a class="text-light" href="mailto:recruiting@texnidata.com">recruiting@texnidata.com</a></p>
      </div>
{% endblock content %}

